<!-- Scripts comuns a todas as páginas -->
<script src="js/jquery-3.7.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/validator.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/parallaxie.js"></script>
<script src="js/gsap.min.js"></script>
<script src="js/magiccursor.js"></script>
<script src="js/SplitText.js"></script>
<script src="js/ScrollTrigger.min.js"></script>
<script src="js/jquery.mb.YTPlayer.min.js"></script>
<script src="js/plyr.js"></script>
<script src="js/wow.js"></script>
<script src="js/function.js"></script>
<script src="js/active-nav.js"></script>
<script src="js/page-views.js"></script>
<script src="js/radio-player.js"></script>
<script src="js/horarios-missa.js"></script>
<script src="js/agenda-pastoral.js"></script>
<script>
    var _y = document.getElementById('currentYear');
    if (_y) _y.textContent = new Date().getFullYear();
</script>
